# Django
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,51.20.185.234

# Postgres
POSTGRES_DB=synergyway
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery/Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Users API
USERS_API_URL=https://jsonplaceholder.typicode.com/users

# Address API
ADDRESS_API_URL=https://my.api.mockaroo.com/address.json?key=1354ffd0

# Credit Card API
CREDIT_CARD_API_URL=https://my.api.mockaroo.com/credit_cards.json?key=1354ffd0

